!.gitkeep

# node modules
node_modules

# mongo docker
mongo_data

# env files
.env
.env.*
!.env.example

# test artifacts
test-logo.png
test-signature.png
test-signed.pdf
test.pdf
refresh_token.txt

# uploads
uploads/

# coverage
coverage/

# logs
*.log
